# Get these from your Supabase Dashboard
SUPABASE_URL=
SUPABASE_ANON_KEY= # Public Key
SUPABASE_SERVICE_ROLE_KEY= # Private Key
SUPABASE_URI=
SUPABASE_ACCESS_TOKEN=

# Google Auth (for Anant)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Railway
BASE_URL= #Public API Gateway URL
RAILWAY_PROJECT_ID=
RAILWAY_SERVICE_NAME=
RAILWAY_TOKEN= # Environment production

# --- Backend API Configuration ---
PORT=8080
ENVIRONMENT=development  # Use 'production' on Railway itself